node_modules/
.remotion/
out/
dist/
*.pack
node_modules/.vite/deps/@remotion_google-fonts_NotoColorEmoji.js
node_modules/.vite/deps/@remotion_google-fonts_NotoColorEmoji.js.map
node_modules/vite/dist/node/chunks/.config.js.swp
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/_metadata.json
node_modules
dist/index.html
package.json
package-lock.json
